version: '3.8'

services:
  meuDB:
    image: mysql:5.7
    container_name: meuDB
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: meuDB
      MYSQL_USER: meuDB
      MYSQL_PASSWORD: 1234
      MYSQL_ROOT_HOST: "%"
    ports:
      - "3307:3306"
    networks:
      app_net:
        ipv4_address: 172.20.0.2

  teste-java:
    image: jgmatosmota/imagemjava:testeb
    container_name: javaContainer
    command: ["java", "-jar", "/app/imagemJava.jar"]
    stdin_open: true
    tty: true
    depends_on:
      - meuDB
    environment:
      - DATABASE_HOST=meuDB
      - DATABASE_PORT=3306
      - DATABASE_USER=meuDB
      - DATABASE_PASSWORD=1234
      - DATABASE_NAME=meuDB
    networks:
      app_net:
        ipv4_address: 172.20.0.3

networks:
  app_net:
    ipam:
      driver: default
      config:
        - subnet: 172.20.0.0/16